body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Moon Dance', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'The Nautigal', cursive;
    font-family: 'Yellowtail', cursive;
}
h1{
    font-size: 30px;
    border-left: 5px  solid;
    border-image: linear-gradient(rgb(199, 55, 55),rgb(12, 100, 100));
    border-image-slice: 1;
    
} 
h2{
    text-align:center;
    font-size: 40px;
}
h3{
    font-size: 30px;
    text-align: center;
}


span{
    color: rgb(202, 77, 63);
}
p{
    font-size: 25px;
}

.flexible-container{
    display: flex;
}
.header{
    width: 50%;
    padding: 10px 30px;
}
.header img{
    width: 100%;
}

button{
    padding:  10px 30px;
    border-radius: 5px;
    background-image: repeating-linear-gradient(blue,cyan);
   

}
.mission{
    width: 30%;
    margin-left: 5%;
    padding: 20px;
    border: 2px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}
.mission img {
    width: 80%;
}

.about-learning{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 400px;
}
.about-learning{
    display: flex;
}
.half-width{
    width: 50%;
    margin-top: 80px;
    margin-left: 20px;
    padding: 10px;
}
.half-width img{
    width: 100%;
}
.passion{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 400px;
    margin-top: 50px;
}
.program{
    width: 50%;
    margin-top: 80px;
    margin-left: 10px;
    padding: 10px;
}
.program img{
    width: 100%;
    border: 5px;
    border-radius: 10px;
}

.app{
    display: flex;
    
    
}

.build-section{
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
   
}
.fetures{
    margin-left: 20px;
    padding: 10px;
}

.fetures img{
    border: 5px;
    border-radius: 10px;
}
.footer{
    background-color: black;
    color: white;
}
.footer p{
    text-align: center;
}
